body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6e5f5;
    text-align: center;
}

#container {
    color: darksalmon;
}

#pict {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#footer {
    padding-top: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #d9ecf2;
}